In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('raw.csv')
df.head()

,District,Soil Type,pH Level,Organic Matter (%),Nitrogen Content (kg/ha),Phosphorus Content (kg/ha),Potassium Content (kg/ha)
0,Jaipur,Chalky (Calcareous),6.546096,1.569807,27.931972,29.438438,42.782766
1,Bhilwara,Nitrogenous,6.832259,2.243018,22.263480,25.413455,37.644377
2,Jodhpur,Sandy,7.453182,2.662898,23.564182,13.014409,37.082003
3,Jaipur,Clay,8.019189,1.240327,15.839222,17.744206,42.758704
4,Jaipur,Sandy,8.100131,1.768419,27.942867,25.769504,30.651292

In [6]:
df.shape

(1000, 7)

In [7]:
df.isna().sum()

District                      0
Soil Type                     0
pH Level                      0
Organic Matter (%)            0
Nitrogen Content (kg/ha)      0
Phosphorus Content (kg/ha)    0
Potassium Content (kg/ha)     0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   District                    1000 non-null   object
 1   Soil Type                   1000 non-null   object
 2   pH Level                    1000 non-null   float64
 3   Organic Matter (%)          1000 non-null   float64
 4   Nitrogen Content (kg/ha)    1000 non-null   float64
 5   Phosphorus Content (kg/ha)  1000 non-null   float64
 6   Potassium Content (kg/ha)   1000 non-null   float64
dtypes: float64(5), object(2)
memory usage: 54.8+ KB

In [10]:
df.nunique()

District                        10
Soil Type                        8
pH Level                      1000
Organic Matter (%)            1000
Nitrogen Content (kg/ha)      1000
Phosphorus Content (kg/ha)    1000
Potassium Content (kg/ha)     1000
dtype: int64

In [11]:
df.describe()

,pH Level,Organic Matter (%),Nitrogen Content (kg/ha),Phosphorus Content (kg/ha),Potassium Content (kg/ha)
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,7.495453,1.993592,29.883358,19.729932,39.877907
std,0.517155,0.515340,5.202697,5.067005,4.874751
min,5.889492,0.155817,11.994574,4.961838,24.116481
25%,7.157881,1.638911,26.217325,16.216471,36.703917
50%,7.500129,1.981462,29.822797,19.913737,39.796016
75%,7.846940,2.345688,33.232056,23.122285,43.382039
max,9.038430,3.764528,45.760284,35.588406,54.678290

In [12]:
df.head()

,District,Soil Type,pH Level,Organic Matter (%),Nitrogen Content (kg/ha),Phosphorus Content (kg/ha),Potassium Content (kg/ha)
0,Jaipur,Chalky (Calcareous),6.546096,1.569807,27.931972,29.438438,42.782766
1,Bhilwara,Nitrogenous,6.832259,2.243018,22.263480,25.413455,37.644377
2,Jodhpur,Sandy,7.453182,2.662898,23.564182,13.014409,37.082003
3,Jaipur,Clay,8.019189,1.240327,15.839222,17.744206,42.758704
4,Jaipur,Sandy,8.100131,1.768419,27.942867,25.769504,30.651292